/* VBox,HBox,Pane,AnchorPane,FlowPane,ScrollPane,StackPane {*/
*{
	-fx-background-color: #333333;
	-fx-text-fill: white;
}

/** 这个样式会导致页面宽度变来变去 */
/**
 *:hover {
	-fx-border-width:0px;
}
*/

#stageRoot{
    -fx-background-radius: 2px;
    -fx-border-color:#000;
    -fx-border-width:1px;
    -fx-border-radius:1px;
    -fx-background-color: black;
}


#banner,#blank,#close_box,#resize_box,#min_box {
	-fx-background-color: black;
}

/** 这里单独给ImageView元素添加Hover完成不了改变背景颜色,需要再添加一个父容器元素来处理 */
#close_box:hover {
	-fx-background-color: red;	
} 


#resize_box:hover,#min_box:hover {
	-fx-background-color: #333333;
}


.text-field {
	-fx-background-color: #808080;
	-fx-highlight-fill: #ff461f;
}

.label,.text {
	-fx-background-color: none;
	-fx-text-fill: #f0f0f4;
}

/** 
 * 通用样式类                 
 * 
 * 
 **/
.hidden {
	visibility: false;
} 

.show {
	visibility: true;
}

.button {
	
}  